body{
    font-family: "Public Sans";
    Font-size: 18px;
    background-color: hsl(0, 0%, 98%);
    overflow-x: hidden;
}

header {
    height:10vh;
    width:100%;
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    z-index:2;
}

.pages{
    width:30%;
    display: flex;
    justify-content: center;
}

button{
    font-family: "Public Sans";
    Font-size: 18px;
    font-weight:900;
    width: 13rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-radius: 5rem;
    background-image: linear-gradient(to right,hsl(136, 65%, 51%),hsl(192, 70%, 51%));
    color:white;
    border : none;
}

#custom-checkbox{
    display: none;
}

.checkbox-container{
    display: none;
}

.checkbox-active{
    display: none;
}

.menu-container{
    user-select: none;
    cursor: pointer;
}

button:hover{
    cursor : pointer;
    background-image: linear-gradient(to right,rgb(135,225,164),rgb(126,212,229));
}

ul{
    display: flex;
    width: 100%;
    height: 10vh;
    text-align: center;
    justify-content: space-around;
}

li{
    list-style: none;
    cursor: pointer;
    display: flex;
    color : hsl(233, 8%, 62%);
    align-items: center;
    border-bottom:4px solid transparent;
}

li:hover{
    border-image : linear-gradient(to right,hsl(136, 65%, 51%),hsl(192, 70%, 51%)) 1;
    color : black;
}

.intro{
    height: 90vh;
    display: flex;
}

.about{
    height:100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rear{
    z-index: -1;
    position: absolute;
    top: -10.5rem;
    right: -17rem;
}

.front{
    z-index:1;
    width: 100%;
    height:100%;
    top: -3rem;
    right: -10rem;
}

.mockups{
    position: absolute;
    top: -3rem;
    right: -9rem;
    height: 75rem;
    width: 59rem;
}

.text{
    height: 45%;
    width: 69%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.para {
    font-size: 1.5rem;
    width: 95%;
}

h1{
    font-size: 4.2rem;
    font-weight:300;
}

h2{
    font-size: 3rem;
    font-weight: 300;
    margin-bottom : 1rem;
}

h3{
    font-size: 1.7rem;
    font-weight: 400;
}

.eagle-eye{
    font-size: 1.4rem;
}

.reasons{
    width:100%;
    height: 80vh;
    background-color:hsl(220, 16%, 96%);
    display: flex;
    position:relative;
    z-index : -1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.banner{
    background-color: hsl(220, 16%, 96%);
    height : 30%;
    width: 90%;
    padding-left:3%;
}

.features{
    background-color: hsl(220, 16%, 96%);
    height : 50%;
    width: 90%;
    padding-left:3%;
    padding-right:3%;
    display: flex;
    justify-content: space-between;
}

.color{
    color : hsl(233, 8%, 62%);
}

.font{
    font-size: 1.4rem;
}

.card{
    height: 80%;
    width: 21%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.detail{
    line-height : 1.7rem;
    font-size : 1.2rem;
}

.latest{
    width:100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.featuresnews{
    height : 70%;
    width: 90%;
    padding-left:3%;
    padding-right:3%;
    display: flex;
    justify-content: space-between;
}

.bannerarticles{
    height : 10%;
    width: 90%;
    padding-left:3%;
    margin-bottom:2rem;
}

.cardnews{
    height: 100%;
    width: 21%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 0.5rem;
    padding-bottom: 2%;

    h3{
        font-size: 1.5rem;
    }

    p{
        font-size: 1.1rem;
        color:hsl(233, 8%, 62%);
    }

}

.author{
    font-size: 1rem;
    margin-top: 1rem;
    margin-left:1.5rem;
    font-weight:300;
}

.move{
    margin-left:1.5rem;
    margin-right:1.5rem;
    line-height: 1.7rem;
    font-weight: 300;
}

.link{
    cursor: pointer;
}

.link:hover{
    background: linear-gradient(to right, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.news{
    height:50%;
    width:100%;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

footer{
    background-color: hsl(233, 26%, 24%);
    height:20vh;
    width:100%;
    display: flex;
    justify-content: space-around;
}

.left{
    width: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 4rem;
}

.right{
    width:40%;
    color:hsl(233, 8%, 62%);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    padding-right: 4.5rem;
}

.reachout{
    height:100%;
    width:30%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.contact{
    height:50%;
    width:15%;
    color:white;
    display : flex;
    flex-direction: column;
    justify-content: space-around;
    h3{
        font-size: 1.1rem;
    }
}

.contact-individual{
    cursor: pointer;
}

.contact-individual:hover{
    background: linear-gradient(to right,hsl(136, 65%, 51%),hsl(192, 70%, 51%));
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.icons{
    width:80%;
    display: flex;
    justify-content: space-around;
}


.icons-individual{
    cursor: pointer;
}

.icons-individual:hover path{
    fill:hsl(136, 65%, 51%);
}





@media (max-width : 620px){

    body{
        overflow-x:hidden;
    }

    header{
        width:100vw;
        z-index: 999;
    }
    
    .pages{
        display: none;
    }
    
    .header-button{
        display: none;
    }

    .menu-container{
        user-select: none;
    }
    
    .checkbox-container{
        display:flex;
        align-items: center;
        cursor: pointer;
    }

    .close{
        display: none;
    }


    .checkbox-active{
        display: none;
        margin-left: 10%;
        height: 42vh;
        width: 80%;
        flex-direction: column;
        background-color: white;
        border-radius: 0.5rem;
        position: absolute;
        margin-top: 5%; 
        box-shadow : 0 5rem 6rem 6rem rgba(99, 99, 99, 0.4);
        z-index : 10;   
    }

    .responsive-pages{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        height: 100%;
    }

    .front{
        display: flex;
    }

    .mockups{
        height: 24.8rem;
        width: 24rem;
        z-index: -5;
        position: relative;
        left: 0rem;
        top: -7rem;
    }

    .intro{
        flex-direction: column;
        height:80vh;
    }

    .about{
        height:40vh;
        width:100vw;
    }

    .rear{
        display: none;
    }

    h1{
        font-size: 2.2rem;
        font-weight: 400;
        text-align: center;
        margin-bottom: 1rem;
    }

    h3{
        font-weight: 300;;
    }

    button{
        margin-top: 1rem;
    }

    .para{
        font-size: 0.9rem;
        width: auto;   
    }

    .text{
        width : 74%;
        align-items: center;
    }

    .background{
        height:40vh;
        width: 100vw;
        order:-1;
        z-index: 0;
        background-image: url("./images/bg-intro-mobile.svg");
        background-repeat: no-repeat;
        background-size: 100%;
    }

    .desktop-bg{
        display: none;
    }

    .reasons{
        height: 175vh;
        width: 100vw;
        z-index: 0;
        justify-content: space-around;
    }

    .features{
        height: 80%;
        padding-left: 0;
        padding-right: 0;
        flex-direction: column;
    }

    .banner{
        padding-left: 0%;
        height:auto;
    }

    h2{
        font-size: 2.3rem;
        text-align: center;
        margin-top: 5rem;
    }

    .font{
        font-size: 1.0rem;
        text-align: center;
    }

    .card{
        width:100%;
        justify-content: space-around;
        align-items: center;
    }

    .detail{
        font-size: 1rem;
        text-align: center;
    }

    .latest{
        height: auto;
        width: 100vw;
        z-index: 0;
        justify-content: flex-start;
        
    }

    .featuresnews{
        height: auto;
        padding-left: 0;
        padding-right: 0;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }

    .bannerarticles{
        padding-left: 0%;
        height:auto;
        margin-bottom: 0rem;
    }

    .cardnews{
        height:20%;
        width:90%;
        margin-top: 1rem;
        margin-bottom: 1rem;
        justify-content: space-around;
        h3{
            font-size: 1.1rem;
            font-weight: 300;
        }

        p{
            font-size: 0.87rem;
        }
    }


    .author{
        margin-left : 1.5rem;
        font-size: 0.7rem;
    }
    
    footer{
        flex-direction: column;
        height: 70vh;
        width:100vw;
        justify-content: center;
        z-index:0;
        margin-top: 4rem;
    }

    .left{
        width:100%;
        margin-left:0rem;
        flex-direction: column;
    }

    .reachout{
        width:100vw;
        height:30vh
    }

    .contact{
        height : 40%;
        width:100%;
        align-items: center;
    }

    .contact-individual{
        width:auto;
    }

    .right{
        height:30%;
        width:100vw;
        padding-right:0rem;
        align-items: center;
    }
}